$black: rgba(0,0,0,.9);
$cream: #FCFBF3;
$gray: rgba(0,0,0,.5);
$red: #E35858;

$page-background: #FAF7DC;
$white: rgba(255,255,255, .9);

$light-blue: #ECECF4;
$medium-blue: rgba(58, 64, 217, 0.5);
$blue: #3A40D9;