body {
  background: url('/grid-pattern.png'), #FAF7DC;
  background-repeat: repeat;
  background-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}